<div class="container">
  <h1>Biblioteca</h1>

  <!-- form -->
  <form [formGroup]="bookForm">
    <div class="mb-3">
      <label class="form-label">Autor del libro</label>
      <input type="text" class="form-control" formControlName="author" [ngClass]="{'is-invalid': isInvalidAuthor()}">
    </div>

    <div class="mb-3">
      <label class="form-label">Titulo del libro</label>
      <input type="text" class="form-control" formControlName="title" [ngClass]="{'is-invalid': isInvalidTitle()}">
    </div>

    <div class="mb-3">
      <!-- crear -->
      <button class="btn btn-success" type="button" (click)="createBook()" *ngIf="!updatingBook">Agregar</button>
      <!-- actualizar -->
      <button class="btn btn-info" type="submit" (click)="editBook()" *ngIf="updatingBook">Actualizar</button>
      <button class="btn btn-danger" type="button" (click)="cancelUpdate()" *ngIf="updatingBook">cancelar</button>

    </div>
  </form>

  <hr>

  <p *ngIf="books.length === 0">Aun no hay libros registrados</p>

  <!-- card book -->
  <div *ngIf="!updatingBook">

    <div class="card text-center mb-3" *ngFor="let book of books">

      <!-- header card book -->
      <div class="card-header text-start">
        Id del libro: {{ book.id }}
      </div>

      <!-- body card book -->
      <div class="card-body text-start">
        <h5>Autor</h5>
        <p>{{book.author}}</p>

        <h5>Titulo</h5>
        <p>{{book.title}}</p>

      </div>
      <!-- actions card book -->
      <div class="card-footer text-muted d-flex p-2">

        <button class="btn btn-info me-2" (click)="activeEditBook(book)">editar</button>
        <button class="btn btn-danger" (click)="deleteBook(book)">eliminar</button>
      </div>


    </div>

  </div>

</div>